.custom-navbar {
  height: 100px;background-color: #fff;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #00dc64;
  margin: 0 15px;
}

.nav-item {
  cursor: pointer;
}

.nav-item:focus {
  outline: none;
}

.nav-link {
  padding: 0 18px!important;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000!important;
  transition: all ease 0.1s;
}

.nav-link:hover {
  color: #00dc64!important;
}

