<div class="banner-outer">
  <div class="banner">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-10 mr-3 banner-inner">
          <carousel
            [height] = "'100%'"
            [cellWidth] = "'100%'"
            [arrows] = "false"
            [autoplay] = "true"
            [loop] = "true"
            [dots] = "true">
            <div class="carousel-cell carousel-banner-cell">
              <span class="banner-img">
                <img src="../../../../assets/images/AdventuresofGod.png" alt="">
              </span>
            </div>
            <div class="carousel-cell carousel-banner-cell">
              <span class="banner-img">
                <img src="../../../../assets/images/AdventuresofGod.png" alt="">
              </span>
            </div>
            <div class="carousel-cell carousel-banner-cell">
              <span class="banner-img">
                <img src="../../../../assets/images/AdventuresofGod.png" alt="">
              </span>
            </div>
          </carousel>
        </div>
        <div class="col additional-links">
          <div class="row h-100 flex-column">
            <div class="col mb-3 link-box">

            </div>
            <div class="col link-box">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-gray">
  <app-composition-tab [tabInput]="'schedule'" [tabSize]="10"></app-composition-tab>


  <hr>

  <div class='container py-3'>
    <div class="section-header">
      New to WEBTOON
    </div>

    <carousel class="my-3"
      [height] = "250"
      [cellWidth] = "'100%'"
      [cellsToShow] = "1"
      [cellsToScroll] = "1"
      [arrowsOutside] = "true"
      [loop] = "true"
      [dots] = "true"
      [overflowCellsLimit]="1">
      <div class="carousel-cell">
        <div class='row'>
          <div class='col composition-col mr-3'>
            <div class="composition-item">
              <div class="composition-main-description">
                <h5 class="composition-title">unOrdinary</h5>
                <div class="composition-liked">
                  <fa-icon [icon]="faHeart"></fa-icon>
                  <span class="number">38.4</span><span class="symbol">M</span>
                </div>
                <div class="composition-genre">Superhero</div>
              </div>
              <div class="composition-img">
                <img src="assets/images/hero-composition.jpg" alt="">
              </div>
              <div class="composition-description">
                <h5 class="composition-title">unOrdinary</h5>
                <h6 class="composition-author">uru-chan</h6>
                <p class="composition-summary">
                  Nobody paid much attention to John – just a normal teenager at a high school where the social elite happen
                  to possess unthinkable powers and abilities. But John’s got a secret past that threatens ...
                </p>
              </div>
            </div>
          </div>

          <div class='col composition-col mr-3'>
            <div class="composition-item">
              <div class="composition-main-description">
                <h5 class="composition-title">unOrdinary</h5>
                <div class="composition-liked">
                  <fa-icon [icon]="faHeart"></fa-icon>
                  <span class="number">38.4</span><span class="symbol">M</span>
                </div>
                <div class="composition-genre">Superhero</div>
              </div>
              <div class="composition-img">
                <img src="assets/images/hero-composition.jpg" alt="">
              </div>
              <div class="composition-description">
                <h5 class="composition-title">unOrdinary</h5>
                <h6 class="composition-author">uru-chan</h6>
                <p class="composition-summary">
                  Nobody paid much attention to John – just a normal teenager at a high school where the social elite happen
                  to possess unthinkable powers and abilities. But John’s got a secret past that threatens ...
                </p>
              </div>
            </div>
          </div>

          <div class='col composition-col mr-3'>
            <div class="composition-item">
              <div class="composition-main-description">
                <h5 class="composition-title">unOrdinary</h5>
                <div class="composition-liked">
                  <fa-icon [icon]="faHeart"></fa-icon>
                  <span class="number">38.4</span><span class="symbol">M</span>
                </div>
                <div class="composition-genre">Superhero</div>
              </div>
              <div class="composition-img">
                <img src="assets/images/hero-composition.jpg" alt="">
              </div>
              <div class="composition-description">
                <h5 class="composition-title">unOrdinary</h5>
                <h6 class="composition-author">uru-chan</h6>
                <p class="composition-summary">
                  Nobody paid much attention to John – just a normal teenager at a high school where the social elite happen
                  to possess unthinkable powers and abilities. But John’s got a secret past that threatens ...
                </p>
              </div>
            </div>
          </div>

          <div class='col composition-long-col composition-col mr-3'>
            <div class="composition-long-item composition-item">
              <div class="composition-main-description">
                <h5 class="composition-title">Jackson's Diary</h5>
                <div class="composition-liked">
                  <fa-icon [icon]="faHeart"></fa-icon>
                  <span class="number">341,889</span><span class="symbol"></span>
                </div>
                <div class="composition-tags">
                </div>
                <div class="composition-genre">Supernatural</div>
              </div>
              <div class="composition-img">
                <img src="assets/images/JacksonsDiary-composition.jpg" alt="">
              </div>
              <div class="composition-description">
                <h5 class="composition-title">Jackson's Diary</h5>
                <h6 class="composition-author">Paola Batalla</h6>
                <p class="composition-summary">
                  The year is 1989, and Jackson is starting his senior year at a brand new school. Even though he's back in
                  his hometown with his new family, he can't seem to shake this ominous and uneasy feeling invading his
                  mind. It's not until he meets the popular kid, Exer, that reality starts to feel more like the work of his
                  imagination.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="carousel-cell">
        <div class='row'>
          <div class='col composition-col mr-3'>
            <div class="composition-item">
              <div class="composition-main-description">
                <h5 class="composition-title">unOrdinary</h5>
                <div class="composition-liked">
                  <fa-icon [icon]="faHeart"></fa-icon>
                  <span class="number">38.4</span><span class="symbol">M</span>
                </div>
                <div class="composition-genre">Superhero</div>
              </div>
              <div class="composition-img">
                <img src="assets/images/hero-composition.jpg" alt="">
              </div>
              <div class="composition-description">
                <h5 class="composition-title">unOrdinary</h5>
                <h6 class="composition-author">uru-chan</h6>
                <p class="composition-summary">
                  Nobody paid much attention to John – just a normal teenager at a high school where the social elite happen
                  to possess unthinkable powers and abilities. But John’s got a secret past that threatens ...
                </p>
              </div>
            </div>
          </div>

          <div class='col composition-col mr-3'>
            <div class="composition-item">
              <div class="composition-main-description">
                <h5 class="composition-title">unOrdinary</h5>
                <div class="composition-liked">
                  <fa-icon [icon]="faHeart"></fa-icon>
                  <span class="number">38.4</span><span class="symbol">M</span>
                </div>
                <div class="composition-genre">Superhero</div>
              </div>
              <div class="composition-img">
                <img src="assets/images/hero-composition.jpg" alt="">
              </div>
              <div class="composition-description">
                <h5 class="composition-title">unOrdinary</h5>
                <h6 class="composition-author">uru-chan</h6>
                <p class="composition-summary">
                  Nobody paid much attention to John – just a normal teenager at a high school where the social elite happen
                  to possess unthinkable powers and abilities. But John’s got a secret past that threatens ...
                </p>
              </div>
            </div>
          </div>

          <div class='col composition-col mr-3'>
            <div class="composition-item">
              <div class="composition-main-description">
                <h5 class="composition-title">unOrdinary</h5>
                <div class="composition-liked">
                  <fa-icon [icon]="faHeart"></fa-icon>
                  <span class="number">38.4</span><span class="symbol">M</span>
                </div>
                <div class="composition-genre">Superhero</div>
              </div>
              <div class="composition-img">
                <img src="assets/images/hero-composition.jpg" alt="">
              </div>
              <div class="composition-description">
                <h5 class="composition-title">unOrdinary</h5>
                <h6 class="composition-author">uru-chan</h6>
                <p class="composition-summary">
                  Nobody paid much attention to John – just a normal teenager at a high school where the social elite happen
                  to possess unthinkable powers and abilities. But John’s got a secret past that threatens ...
                </p>
              </div>
            </div>
          </div>

          <div class='col composition-long-col composition-col mr-3'>
            <div class="composition-long-item composition-item">
              <div class="composition-main-description">
                <h5 class="composition-title">Jackson's Diary</h5>
                <div class="composition-liked">
                  <fa-icon [icon]="faHeart"></fa-icon>
                  <span class="number">341,889</span><span class="symbol"></span>
                </div>
                <div class="composition-tags">
                </div>
                <div class="composition-genre">Supernatural</div>
              </div>
              <div class="composition-img">
                <img src="assets/images/JacksonsDiary-composition.jpg" alt="">
              </div>
              <div class="composition-description">
                <h5 class="composition-title">Jackson's Diary</h5>
                <h6 class="composition-author">Paola Batalla</h6>
                <p class="composition-summary">
                  The year is 1989, and Jackson is starting his senior year at a brand new school. Even though he's back in
                  his hometown with his new family, he can't seem to shake this ominous and uneasy feeling invading his
                  mind. It's not until he meets the popular kid, Exer, that reality starts to feel more like the work of his
                  imagination.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </carousel>

  </div>

  <hr>

  <div class='container py-3'>
    <div class="section-header text-uppercase" [routerLink]="'/explore/genre'">
      <span>Genres</span>
      <span><fa-icon size="sm" [icon]="faArrowRight"></fa-icon></span>
    </div>

    <div class='row my-3'>
      <div class='col composition-col mr-3'>
        <div class="composition-item">
          <div class="genre-item" [ngStyle]="{'background-color': genreOne.color}">
            <h5 class="genre-title">{{genreOne.value}}</h5>
            <fa-icon class="genre-arrow" [icon]="faArrowRight"></fa-icon>
            <h6 class="genre-tags">Immerse, Imagine, and Inspire.</h6>
          </div>
        </div>
      </div>

      <div *ngFor="let composition of compositionsOne" class='col composition-col mr-3'>
        <div class="composition-item" [routerLink]="['/composition/' + composition.titleCode + '/list']">
          <div class="composition-main-description">
            <h5 class="composition-title">{{composition.title}}</h5>
            <div class="composition-liked">
              <fa-icon [icon]="faHeart"></fa-icon>
              <span class="number">{{composition.likes | shortNumber}}</span>
            </div>
            <div class="composition-genre">{{composition.genre.value}}</div>
          </div>
          <div class="composition-img">
            <img src="assets/images/hero-composition.jpg" alt="">
          </div>
          <div class="composition-description">
            <h5 class="composition-title">{{composition.title}}</h5>
            <h6 class="composition-author">{{composition.author}}</h6>
            <p class="composition-summary">
              {{composition.description}}
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class='row my-3'>
      <div class='col composition-col mr-3'>
        <div class="composition-item">
          <div class="genre-item" [ngStyle]="{'background-color': genreTwo.color}">
            <h5 class="genre-title">{{genreTwo.value}}</h5>
            <fa-icon class="genre-arrow" [icon]="faArrowRight"></fa-icon>
            <h6 class="genre-tags">Immerse, Imagine, and Inspire.</h6>
          </div>
        </div>
      </div>

      <div *ngFor="let composition of compositionsTwo" class='col composition-col mr-3'>
        <div class="composition-item" [routerLink]="['/composition/' + composition.titleCode + '/list']">
          <div class="composition-main-description">
            <h5 class="composition-title">{{composition.title}}</h5>
            <div class="composition-liked">
              <fa-icon [icon]="faHeart"></fa-icon>
              <span class="number">{{composition.likes | shortNumber}}</span>
            </div>
            <div class="composition-genre" [ngStyle]="{'color': composition.genre.color}">{{composition.genre.value}}</div>
          </div>
          <div class="composition-img">
            <img src="assets/images/hero-composition.jpg" alt="">
          </div>
          <div class="composition-description" [ngStyle]="{'background-color': composition.genre.color}">
            <h5 class="composition-title">{{composition.title}}</h5>
            <h6 class="composition-author">{{composition.author}}</h6>
            <p class="composition-summary">
              {{composition.description}}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
