.banner-outer {
  padding: 20px 0;
  background-color: #303030;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.banner-inner {
  position: relative;
  left: -50px;
}

.banner-img img {
  width: initial!important;
  position: absolute!important;
  left: -100px!important;
}

.carousel-banner-cell {
  overflow: initial!important;
  left: 50px!important;
}

.additional-links {
  padding: 40px 0;
}

.link-box {
  border-radius: 4px;
  background-color: #f6f6f6;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}


.section-header span {
  display: inline-block;
}

.section-header span:nth-last-child(1) {
  margin-left: 10px;
}




.composition-col {
  max-width: 210px;
  max-height: 210px;
}

.composition-col:nth-last-child(1) {
  margin-right: 0!important;
}

.composition-long-col {
  max-width: 435px!important;
}

.composition-item {
  cursor: pointer;
  width: 210px;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.composition-long-item {
  width: 435px!important;
}

.composition-main-description {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.composition-main-description, .composition-description, .composition-item .genre-item {
  padding: 18px 14px;
}

.composition-title {
  font-size: 18px;
}

.composition-long-item .composition-title{
  color: #fff;
}

.composition-liked {
  color: #00dc64;
}

.composition-liked fa-icon svg{
  width: 14px;
  fill: #00dc64;
}

.composition-liked .number {
  margin-left: 5px;
}

.composition-genre {
  position: absolute;
  bottom: 14px;
  color: #4a20e2;
}


.composition-img img {
  display: block;
  object-fit: cover;
}

.composition-description {
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;

  transition: all ease 0.2s;
}

.composition-author {
  font-size: 14px;
  margin-top: 6px;
}

.composition-author:after {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  margin: 15px 0;
  background-color: #fff;
  opacity: 0.5;
}

.composition-summary {
  font-size: 13px;
  color: #f6f6f6;
  font-weight: 300;
}

/*.composition-summary:after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  height: 20px;*/
/*  width: 100%;*/
/*  background: linear-gradient(to top,*/
/*  rgba(74, 32, 226, 1) 0,*/
/*  rgba(74, 32, 226, 1) 50%,*/
/*  rgba(74, 32, 226, 0) 100%*/
/*  );*/
/*  pointer-events: none;*/
/*  color: #00dc64;*/
/*}*/


.composition-item:hover .composition-description {
  color: #fff;
  opacity: 1;
  background-color: #4a20e2;
}


.composition-item .genre-item {
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4a20e2;
  color: #fff;
}

.composition-item .genre-arrow {
  position: absolute;
  right: 14px;
  top: 18px;
}

.composition-item .genre-tags {
  position: absolute;
  bottom: 14px;
}

