/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

body {
  font-family: hind, serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.section-gray {
  background-color: rgba(244, 244, 244, 0.5);
}

.section-header {
  cursor: pointer;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
}


body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
  width: 4px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 2px;
  background-color: #202020;
}

.default-text {
  font-family: hind_m, simhei, verdana, Helvetica, sans-serif;
  font-size: 17px;
}

.custom-gray-button {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 10px auto;
  color: #fff;
  font-size: 16px;
  background-color: #2f2f2f;
  border: none;
  border-radius: 26px;
  transition: all ease 0.1s;
}

.custom-gray-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.right-arrow {
  position: relative;
}

.right-arrow:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;

  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg) translateY(-70%);
}

